<nav class="flex items-center justify-between h-16 px-8 bg-bgTertiary">
  <div class="flex items-center gap-5">
    <img src="/favicon.svg" alt="logo" class="w-auto h-8" />
    <ul class="flex gap-2">
      <button
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="px-8 py-3 transition-colors duration-200 ease-in rounded-sm bg-bgTertiary hover:bg-secondary active:bg-secondary"
      >
        Home
      </button>
      <button
        routerLink="browse"
        routerLinkActive="active"
        class="px-8 py-3 transition-colors duration-200 ease-in rounded-sm bg-bgTertiary hover:bg-secondary"
      >
        Browse
      </button>
      <button
        routerLink="library"
        routerLinkActive="active"
        class="px-6 py-3 transition-colors duration-200 ease-in rounded-sm bg-bgTertiary hover:bg-secondary"
      >
        Administration
      </button>
    </ul>
  </div>

  <div class="flex items-center gap-2">
    <ul class="flex gap-2">
      <button
        routerLink="/wishlist"
        routerLinkActive="active"
        class="px-8 py-3 transition-colors duration-200 ease-in rounded-sm bg-bgTertiary hover:bg-secondary active:bg-secondary"
      >
        Wishlist
      </button>
      <button
        routerLink="/cart"
        routerLinkActive="active"
        class="px-8 py-3 transition-colors duration-200 ease-in rounded-sm bg-bgTertiary hover:bg-secondary active:bg-secondary"
      >
        Cart
      </button>
    </ul>

    <div class="relative inline-block text-left">
      <div>
        <button
          [attr.aria-expanded]="isDropdownOpen"
          aria-haspopup="true"
          (click)="toggleDropdown()"
          id="menu-button"
          class="relative inline-flex items-center gap-4 p-2 min-w-60 dropdown bg-bgHighlight"
        >
          <img
            src="https://i.pinimg.com/control/564x/c9/ae/8f/c9ae8f9d885f6aa5712b286d2385e18e.jpg"
            class="w-8 h-8 rounded-sm"
            alt="profileIcon"
          />
          <span>Whiit</span>
          <svg
            class="absolute w-5 h-5 right-2"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <div
        class="absolute right-0 z-10 w-56 mt-3 origin-top-right shadow-lg bg-bgHighlight focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
        *ngIf="isDropdownOpen"
      >
        <div class="py-1" role="none">
          <a
            href="#"
            class="block px-4 py-4 text-sm transition-colors duration-200 ease-in hover:bg-bgHover"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
            >Account settings</a
          >
          <button
            type="submit"
            class="block w-full px-4 py-4 text-sm text-left transition-colors duration-200 ease-in hover:bg-bgHover"
            role="menuitem"
            tabindex="-1"
            id="menu-item-3"
          >
            Sign out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
