<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-[#212B45] to-[#0E141B]"
>
  <main class="w-10/12 my-40 gap-4 bg-[#313843]/35 flex flex-col z-10 p-10">
    <header class="flex items-start justify-between">
      <div class="flex w-2/3 gap-7">
        <img
          src="https://i.pinimg.com/control/564x/c9/ae/8f/c9ae8f9d885f6aa5712b286d2385e18e.jpg"
          class="z-10 w-56 h-56 border-4 rounded-md border-dim"
          alt="profileIcon"
        />
        <aside>
          <h2 class="text-2xl font-bold">Whiit</h2>
          <span class="text-sm text-dim">whiitAgmail.com</span>
          <p class="leading-normal text-justify mt-14 line-clamp-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>
        </aside>
      </div>
      <div>
        <button class="px-6 py-2 rounded-sm bg-bgHighlight hover:bg-bgHover">
          Edit Profile
        </button>
      </div>
    </header>
    <section class="flex flex-col p-2 rounded-sm bg-bgMain/20">
      <h3 class="text-dim">Orders</h3>
      <div class="bg-bgMain/50">
        <header class="flex justify-center gap-20 p-3">
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">24</h1>
            <h3 class="text-dim">Pending</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">12</h1>
            <h3 class="text-dim">in Preparation</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">10</h1>
            <h3 class="text-dim">Sent</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">5</h1>
            <h3 class="text-dim">Delivered</h3>
          </article>
        </header>
      </div>
    </section>
  </main>
</div>
