<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-bgMain to-bgTertiary"
>
  <img
    class="absolute top-0 left-0 pointer-events-none opacity-20 aspect-video transparent-gradient blur-sm"
    [src]="game.images[1].url"
    alt=""
  />
  <main class="w-10/12 px-[5%] mt-36 pb-48 gap-6 flex flex-col z-10">
    <header class="flex items-center justify-between px-5 py-3 bg-bgMain">
      <h1 class="text-2xl font-bold">{{ game.title }}</h1>
      <button
        class="flex items-center justify-center gap-3 px-8 py-3 text-lg transition-colors duration-300 ease-in rounded-sm bg-bgHighlight hover:bg-bgHover"
        (click)="toggleWishlist()"
      >
        <span>Wishlist</span>
        @if (inWishlist) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="white"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        }
      </button>
    </header>

    <article class="flex flex-col gap-5 p-5 lg:flex-row bg-bgMain/50">
      <div class="flex flex-col gap-4 lg:w-8/12">
        <img
          class="hidden rounded-md aspect-video fade lg:block"
          [src]="mainImage"
          [class.fade-out]="isChangingImage"
          (load)="onImageLoad()"
          alt=""
        />
        <div>
          <p-carousel
            [responsiveOptions]="[
              {
                breakpoint: '1024px',
                numVisible: 1,
                numScroll: 1
              }
            ]"
            [value]="game.images"
            [numVisible]="4"
            [numScroll]="1"
            [circular]="false"
          >
            <ng-template let-image pTemplate="item">
              <img
                [src]="image.url"
                class="p-1 rounded-md cursor-pointer aspect-video"
                alt=""
                (click)="changeImage(image.url)"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <aside class="flex flex-col gap-5 lg:w-4/12">
        <img
          class="rounded-md aspect-video"
          [src]="game.images[0].url"
          alt=""
        />
        <p class="text-justify">
          {{ game.description }}
        </p>
        <div class="grid content-center gap-x-4 gap-y-5">
          <span class="col-span-5 text-sm text-dim">Reviews</span>
          <span>All Time</span>
          <div class="flex flex-col col-span-2 gap-2">
            <header class="flex justify-between">
              <span class="flex items-center gap-1 text-xs text-primary">
                {{ positiveRatio }}%
                <svg
                  class="opacity-50"
                  width="13"
                  height="11"
                  viewBox="0 0 13 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.89337 0.282521L8.89421 3.28335C9.09462 3.48377 9.20837 3.76002 9.20837 4.0471V9.45835C9.20837 10.0542 8.72087 10.5417 8.12504 10.5417H3.25004C2.81671 10.5417 2.42671 10.2817 2.25337 9.88627L0.48754 5.76419C0.0325403 4.69169 0.817957 3.50002 1.98254 3.50002H5.04296L4.52837 1.01919C4.47421 0.748355 4.55546 0.472105 4.75046 0.277105C5.07004 -0.037062 5.57921 -0.037062 5.89337 0.282521ZM11.375 10.5417C10.7792 10.5417 10.2917 10.0542 10.2917 9.45835V5.12502C10.2917 4.52919 10.7792 4.04169 11.375 4.04169C11.9709 4.04169 12.4584 4.52919 12.4584 5.12502V9.45835C12.4584 10.0542 11.9709 10.5417 11.375 10.5417Z"
                    fill="#66C0F4"
                  />
                </svg>
              </span>
              <span class="flex items-center gap-1 text-xs text-danger">
                {{ 100 - positiveRatio }}%
                <svg
                  class="opacity-50"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.89337 11.0509L8.89421 8.05002C9.09462 7.8496 9.20837 7.57335 9.20837 7.28627L9.20837 1.87502C9.20837 1.27919 8.72087 0.791685 8.12504 0.791685L3.25004 0.791684C2.81671 0.791684 2.42671 1.05168 2.25337 1.4471L0.487541 5.56918C0.0325407 6.64168 0.817957 7.83335 1.98254 7.83335L5.04296 7.83335L4.52837 10.3142C4.47421 10.585 4.55546 10.8613 4.75046 11.0563C5.07004 11.3704 5.57921 11.3704 5.89337 11.0509ZM11.375 0.791685C10.7792 0.791685 10.2917 1.27919 10.2917 1.87502L10.2917 6.20835C10.2917 6.80419 10.7792 7.29169 11.375 7.29169C11.9709 7.29169 12.4584 6.80419 12.4584 6.20835L12.4584 1.87502C12.4584 1.27919 11.9709 0.791685 11.375 0.791685Z"
                    fill="#CD5444"
                  />
                </svg>
              </span>
            </header>
            <div class="flex w-full gap-1">
              <div
                class="h-1 rounded-full bg-primary"
                [style.width.%]="positiveRatio"
              ></div>
              <div
                class="h-1 rounded-full bg-danger"
                [style.width.%]="100 - positiveRatio"
              ></div>
            </div>
          </div>
          <span class="col-span-2 text-secondary"
            >{{ game.reviews.length }} Reviews</span
          >
          <span class="text-sm text-dim">Release Date</span>
          <span class="col-span-4">{{
            (game.releaseDate | date : "longDate") || "Unknown"
          }}</span>
          <span class="text-sm text-dim">Developer</span>
          <span class="col-span-4">{{ game.developer }}</span>
          <span class="col-span-5 text-sm text-dim">Popular Tags</span>
          <div class="flex flex-wrap w-full col-span-5 gap-2 text-dim">
            @for (category of game.categories; track $index) {
            <span
              class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
              >{{ category.name }}</span
            >
            }
          </div>
        </div>
      </aside>
    </article>
  </main>
</div>
