<div
  *ngIf="game"
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-[#0E141B] to-[#202B3B]"
>
  <img
    class="absolute top-0 left-0 w-full pointer-events-none opacity-20 aspect-video transparent-gradient blur-sm"
    [src]="game.images[1]"
    alt=""
  />
  <main class="w-11/12 px-[5%] mt-36 pb-48 gap-6 flex flex-col z-10">
    <!-- Title | Wishlist Button -->
    <header class="flex items-center justify-between px-5 py-3 bg-bgMain">
      <h1 class="text-2xl font-bold">{{ game.title }}</h1>
      <button
        class="flex items-center justify-center gap-3 px-8 py-3 text-lg transition-colors duration-300 ease-in rounded-sm bg-bgHighlight hover:bg-bgHover"
        (click)="toggleWishlist()"
      >
        <span>Wishlist</span>
        @if (inWishlist) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="white"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        }
      </button>
    </header>

    <!-- Main Content -->
    <article class="flex flex-col gap-5 p-5 lg:flex-row bg-bgMain/50">
      <div class="flex flex-col gap-4 lg:w-8/12">
        <img
          class="hidden rounded-md aspect-video fade lg:block"
          [src]="mainImage"
          [class.fade-out]="isChangingImage"
          (load)="onImageLoad()"
          alt=""
        />
        <div>
          <p-carousel
            [responsiveOptions]="[
              {
                breakpoint: '1024px',
                numVisible: 1,
                numScroll: 1
              }
            ]"
            [value]="game.images"
            [numVisible]="3"
            [numScroll]="1"
            [circular]="false"
          >
            <ng-template let-image pTemplate="item">
              <img
                [src]="image"
                class="p-1 rounded-md cursor-pointer aspect-video"
                alt=""
                (click)="changeImage(image)"
              />
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <aside class="flex flex-col gap-5 lg:w-4/12">
        <img class="rounded-md aspect-video" [src]="game.images[0]" alt="" />

        <p class="text-justify">
          {{ game.description }}
        </p>
        <div class="grid content-center gap-x-4 gap-y-5">
          <span class="col-span-5 text-sm text-dim">Reviews</span>
          <span>All Time</span>
          <div class="col-span-4">
            <app-rating-bar [reviews]="game.reviews"> </app-rating-bar>
          </div>

          <span class="text-sm text-dim">Release Date</span>
          <span class="col-span-4">{{ game.releaseDate || "Unknown" }}</span>
          <span class="text-sm text-dim">Developer</span>
          <span class="col-span-4">{{ game.developer }}</span>
          <span class="col-span-5 text-sm text-dim">Popular Tags</span>
          <div class="flex flex-wrap w-full col-span-5 gap-2 text-dim">
            @for (category of game.categories; track $index) {
            <span
              class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
              >{{ category }}</span
            >
            }
          </div>
        </div>
      </aside>
    </article>

    <!-- Extra Info -->
    <section class="flex flex-col gap-5 lg:flex-row">
      <!-- Left Info -->
      <div class="flex flex-col gap-5 lg:w-8/12">
        <!-- Buy Options -->
        <div class="flex justify-between p-5 bg-bgMain/50">
          <div>
            <h2 class="text-xl font-semibold">{{ game.title }}</h2>
            <span class="text-sm text-primary">Offer ends 19 October</span>
          </div>
          <div class="flex items-center gap-3">
            @if (discount) {
            <!-- TODO: Implement discounts -->

            <span
              class="px-3 py-1 text-lg font-bold rounded-sm bg-success text-bgMain"
              >-20%</span
            >
            <div class="relative flex flex-col justify-end">
              <span
                class="absolute font-semibold line-through top-2 text-dim/50"
                >{{ game.price | currency : "USD" }}</span
              >
              <span class="absolute font-semibold bottom-2 text-success">{{
                19.99 | currency : "USD"
              }}</span>
              <span class="text-transparent">$00.00</span>
            </div>
            } @else {
            <span class="text-lg font-semibold">{{
              game.price | currency : "USD"
            }}</span>
            }
            <button
              class="flex items-center justify-center gap-2 px-4 py-2 transition-colors duration-300 ease-in rounded-sm w-fit bg-secondary hover:bg-primary hover:text-bgMain"
            >
              Add to Cart
            </button>
          </div>
        </div>

        <!-- System Requirements -->

        <div class="flex flex-col gap-5 p-5 mb-20 bg-bgMain/50">
          <h2 class="font-semibold text-dim">System Requirements</h2>
          <span class="col-span-2 text-sm text-dim">Recomended</span>
          <div class="grid grid-cols-1 gap-3 pl-4 md:grid-cols-2">
            <span class="text-sm text-dim">&centerdot; OS</span>
            <span class="text-sm">{{ game.specs.OS }}</span>
            <span class="text-sm text-dim">&centerdot; Processor</span>
            <span class="text-sm">{{ game.specs.Processor }}</span>
            <span class="text-sm text-dim">&centerdot; Memory</span>
            <span class="text-sm">{{ game.specs.Memory }}</span>
            <span class="text-sm text-dim">&centerdot; Graphics</span>
            <span class="text-sm">{{ game.specs.Graphics }}</span>
            <span class="text-sm text-dim">&centerdot; Storage</span>
            <span class="text-sm">{{ game.specs.Storage }}</span>
          </div>
        </div>

        <h2 class="text-xl font-bold">Similar Games</h2>
        <div
          class="grid grid-cols-1 p-5 md:grid-cols-2 lg:grid-cols-3 bg-bgMain/50"
        >
          <ng-container *ngFor="let similarGame of similarGames">
            <app-offers-carousel-item [game]="similarGame" [discount]="false">
            </app-offers-carousel-item>
          </ng-container>
        </div>
      </div>

      <!-- Right Info -->
      <aside class="flex flex-col gap-5 lg:w-4/12">
        <app-review-section
          [reviews]="game.reviews.reverse()"
          (newReview)="onReviewAdded($event)"
        ></app-review-section>
      </aside>
    </section>
  </main>
</div>
