<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-bl from-bgMain to-[#14344B]"
>
  <img
    class="absolute top-0 left-0 w-full h-[70svh] transparent-gradient opacity-10 blur-sm pointer-events-none"
    src="/home_header.webp"
    alt=""
  />
  <main class="w-11/12 px-[5%] mt-56 pb-48 gap-4 flex flex-col z-10">
    <h2 class="mb-5 text-2xl font-semibold">Browse Steam</h2>

    <header class="flex items-center w-full px-5 py-2 rounded-sm bg-bgMain">
      <section class="w-1/5">
        <div class="flex items-center gap-3">
          <span class="text-sm font-medium text-dim">View</span>
          <button
            class="w-8 h-8 bg-[#76808C]/5 rounded-sm text-dim flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              width="24"
              height="24"
              stroke-width="1.5"
            >
              <path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path>
              <path
                d="M4 14m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path>
            </svg>
          </button>
          <button
            class="w-8 h-8 bg-[#76808C]/5 rounded-sm text-dim flex justify-center items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              width="24"
              height="24"
              stroke-width="1.5"
            >
              <path
                d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path>
              <path
                d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path>
              <path
                d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path>
              <path
                d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              ></path>
            </svg>
          </button>
        </div>
      </section>
      <section class="flex items-center justify-between w-4/5 px-1">
        <div class="relative flex w-1/2 text-dim">
          <!-- TODO: Busqueda con sugerencias -->

          <input
            type="text"
            class="w-full py-2 pl-3 pr-8 rounded-sm bg-bgHighlight"
            placeholder="Search..."
            [formControl]="searchInput"
            (input)="onSearch()"
          />

          <div
            *ngIf="searchGames.length > 0"
            class="absolute z-10 w-full border rounded-sm border-bgHover bg-bgHighlight top-10 bottom-0-6"
          >
            <div
              *ngFor="let game of searchGames"
              [routerLink]="['/browse', game._id]"
              class="p-2 cursor-pointer hover:bg-bgHover"
            >
              <div class="flex gap-2">
                <img src="{{ game.images[0] }}" alt="" class="h-16" />
                <span class="font-semibold">{{ game.title }}</span>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              searchGames.length === 0 &&
              searchInput.value &&
              searchInput.value.trim().length > 0
            "
            class="absolute z-10 w-full p-2 border rounded-sm border-bgHover bg-bgHighlight top-10"
          >
            No games found for "{{ searchInput.value }}"
          </div>
        </div>
        <div>sort by</div>
      </section>
    </header>

    <section class="flex gap-3">
      <section class="w-1/5 p-3 rounded-sm h-fit bg-bgMain">
        <app-filter-options
          [categories]="categories"
          [developers]="developers"
          (filtersChanged)="onFiltersChanged($event)"
        ></app-filter-options>
      </section>

      <section class="flex flex-col items-end w-4/5 gap-4 rounded-sm">
        <div
          class="grid w-full grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-1"
        >
          @for (game of games; track $index) {
          <app-game-large-card [game]="game"></app-game-large-card>
          }
        </div>
        <div>
          <shared-pagination
            *ngIf="games.length > 0"
            [totalItems]="total"
            [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)"
          ></shared-pagination>
        </div>
      </section>
    </section>
  </main>
</div>
