<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-[#212B45] to-[#0E141B]"
>
  <main
    class="w-full lg:w-10/12 my-40 gap-4 bg-[#313843]/35 flex flex-col rounded-md z-10 p-10"
  >
    <header class="flex items-start justify-between">
      <div class="flex w-full lg:w-2/3 gap-7">
        <img
          [src]="
            user.image ||
            'https://i.pinimg.com/control/564x/c9/ae/8f/c9ae8f9d885f6aa5712b286d2385e18e.jpg'
          "
          class="z-10 w-56 h-56 border-4 rounded-md border-dim"
          alt="profileIcon"
          (click)="fileInput.click()"
        />
        <input
          type="file"
          #fileInput
          (change)="onImageChange($event)"
          style="display: none"
        />
        <aside>
          <div class="flex justify-between">
            <h2 class="text-2xl font-bold">{{ user.username }}</h2>
            <button
              class="block px-6 py-2 transition-colors duration-300 ease-in-out rounded-sm bg-bgHighlight hover:bg-bgHover lg:hidden"
              routerLink="settings"
            >
              Edit
            </button>
          </div>
          <span class="text-sm text-dim">{{ user.email }}</span>
          <p
            class="mt-0 leading-normal text-justify lg:mt-14 line-clamp-6 lg:line-clamp-4"
          >
            {{ user.bio }}
          </p>
        </aside>
      </div>
      <div>
        <button
          class="hidden px-6 py-2 transition-colors duration-300 ease-in-out rounded-sm bg-bgHighlight hover:bg-bgHover lg:block"
          routerLink="settings"
        >
          Edit Profile
        </button>
      </div>
    </header>
    <section class="flex flex-col gap-4 p-2 rounded-md bg-bgMain/20">
      <h3 class="text-dim">Orders</h3>
      <div class="rounded-md bg-bgMain/50">
        <header
          class="flex gap-0 p-3 lg:justify-center justify-evenly lg:gap-20"
        >
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">{{ countPendingOrders }}</h1>
            <h3 class="text-dim">Pending</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold text-center">
              {{ countInPreparationOrders }}
            </h1>
            <h3 class="text-dim">in Preparation</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">{{ countSentOrders }}</h1>
            <h3 class="text-dim">Sent</h3>
          </article>
          <article class="flex flex-col items-center gap-1">
            <h1 class="text-2xl font-bold">{{ countDeliveredOrders }}</h1>
            <h3 class="text-dim">Delivered</h3>
          </article>
        </header>
      </div>
      @for (order of orders; track $index) {
      <app-order-card [order]="order"></app-order-card>
      }
    </section>
  </main>
</div>
