<article
  class="absolute grid items-center w-full grid-cols-8 gap-3 p-3 -translate-x-1/2 -translate-y-1/2 rounded-md bg-bgMain top-1/2 left-1/2"
>
  <img class="object-cover h-auto col-span-5" src="/test.png" alt="" />
  <aside class="flex flex-col w-full col-span-3 gap-3 pt-1">
    <h2 class="text-2xl font-bold">Game Title</h2>
    <p class="leading-tight line-clamp-3">
      THE NEW FANTASY ACTION RPG. Rise, Tarnished, and be guided by grace to
      brandish the power of the Elden Ring and become an Elden Lord in the Lands
      Between.
    </p>
    <div class="grid grid-cols-2 gap-1 w-fit">
      <img class="object-cover w-56 h-24" src="/test.png" alt="" />
      <img class="object-cover w-56 h-24" src="/test.png" alt="" />
      <img class="object-cover w-56 h-24" src="/test.png" alt="" />
      <img class="object-cover w-56 h-24" src="/test.png" alt="" />
    </div>
    <div class="flex flex-wrap w-full gap-2 text-dim">
      <span class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
        >RPG</span
      >
      <span class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
        >Souls-like</span
      >
      <span class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
        >Souls-like</span
      >
      <span class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight"
        >Souls-like</span
      >
    </div>
    <footer class="flex items-center justify-between">
      <button
        class="px-5 py-2 transition-colors duration-300 ease-in rounded-sm bg-bgHighlight hover:bg-bgHover"
      >
        Wishlist ♥️
      </button>
      <div class="flex items-center gap-3">
        <span class="font-medium">$59.99</span>
        <button
          class="px-5 py-2 transition-colors duration-300 ease-in rounded-sm bg-secondary hover:bg-primary"
        >
          Buy Now
        </button>
      </div>
    </footer>
  </aside>
</article>
