<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-[#0E141B] to-[#202B3B]"
>
  <main class="w-11/12 px-[5%] mt-36 pb-48 flex flex-col z-10">
    <!-- Main Content -->
    <article class="flex flex-col gap-5 p-5 lg:flex-row bg-bgMain/50">
      <div class="flex flex-col w-full gap-3">
        <!-- Renderiza los juegos -->
        <app-game-large-card-cart
          *ngFor="let game of cartInfo"
          [game]="game"
          [game]="game"
        ></app-game-large-card-cart>
        @if (cartInfo.length === 0) {
        <div class="flex items-center justify-center w-full h-full">
          <h2 class="text-2xl font-semibold text-dim">No games in cart</h2>
        </div>
        }
      </div>
    </article>

    <div class="flex justify-between p-4">
      <div class="flex">
        <button
          class="flex items-center justify-end gap-2 px-4 py-2 transition-colors duration-300 ease-in rounded-sm w-fit bg-secondary hover:bg-primary hover:text-bgMain disabled:opacity-50 disabled:bg-dim disabled:pointer-events-none"
          [routerLink]="['payment']"
          [disabled]="cartInfo.length === 0"
        >
          Purchase for myself
        </button>
        @if (cart){
        <span class="self-center ml-4 font-semibold">
          Total: {{ cart.total | currency : "USD" }}
        </span>
        }
      </div>

      <button
        class="flex items-center justify-end gap-2 px-4 py-2 transition-colors duration-300 ease-in rounded-sm w-fit bg-secondary hover:bg-primary hover:text-bgMain"
        (click)="updateCart()"
      >
        Update
      </button>
    </div>
  </main>
</div>
