<article class="mx-2 rounded-md bg-bgMain" [routerLink]="['/browse', game._id]">
  <div
    class="flex flex-col items-start justify-center gap-3 p-2 pb-3 cursor-pointer"
  >
    <img class="object-cover w-full rounded-sm" [src]="game.images[0]" alt="" />
    <h2 class="text-xl font-bold line-clamp-1">{{ game.title }}</h2>
    <footer class="flex flex-wrap items-center justify-end w-full gap-3">
      @if (game.discount.type !== "none") {
      <span class="text-sm text-dim"
        >Until {{ game.discount.until | date : "MMM dd" }}</span
      >
      @if (!small) {
      <span
        class="px-3 py-1 text-lg font-bold rounded-sm bg-success text-bgMain"
      >
        {{
          game.discount.type === "fixed"
            ? "-" + (game.discount.value | currency : "USD")
            : "-" + game.discount.value + "%"
        }}</span
      >
      }
      <div class="relative flex flex-col justify-end gap-0">
        <span class="absolute font-semibold line-through top-2 text-dim/50">{{
          game.price | currency : "USD"
        }}</span>
        <span class="absolute font-semibold bottom-2 text-success">
          {{ game.price - discountValue | currency : "USD" }}
        </span>
        <span class="text-transparent pointer-events-none">$00.00</span>
      </div>
      } @else {
      <span class="font-semibold">
        {{ game.price | currency : "USD" }}
      </span>
      }

      <button
        class="flex items-center justify-center gap-2 px-2 py-2 transition-colors duration-300 ease-in rounded-sm w-fit bg-bgHighlight hover:bg-bgHover"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
      </button>
    </footer>
  </div>
</article>
