<header
  class="flex items-center justify-between py-3 border-b border-bgHighlight"
>
  <span class="text-sm">FILTERS</span>
  <button
    (click)="clearFilters()"
    class="w-8 h-8 bg-[#76808C]/5 rounded-sm text-dim items-center justify-center flex"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      width="20"
      height="20"
      stroke-width="2"
    >
      <path
        d="M8 4h12v2.172a2 2 0 0 1 -.586 1.414l-3.914 3.914m-.5 3.5v4l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227"
      ></path>
      <path d="M3 3l18 18"></path>
    </svg>
  </button>
</header>
<!-- ACCORDION -->
<div
  id="accordion-flush"
  data-accordion="open"
  data-active-classes="bg-transparent text-white"
  data-inactive-classes="text-dim"
>
  <h2 id="accordion-flush-heading-1">
    <button
      class="flex items-center justify-between w-full gap-3 py-3 font-medium border-b text-dim border-bgHighlight"
      data-accordion-target="#accordion-flush-body-1"
      aria-expanded="true"
      aria-controls="accord ion-flush-body-1"
    >
      <span class="flex items-center gap-2"
        >Genres
        <div
          class="inline-flex items-center justify-center w-5 h-5 text-xs font-bold rounded-full bg-secondary dark:border-gray-900"
          *ngIf="selectedCategories.length > 0"
        >
          {{ selectedCategories.length }}
        </div></span
      >

      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-1"
    class="hidden"
    aria-labelledby="accordion-flush-heading-1"
  >
    <!-- GENRES-->
    <ul class="flex flex-col gap-3">
      @for (category of categories; track $index) {
      <li>
        <input
          type="checkbox"
          [id]="category + $index"
          class="hidden w-4 h-4 peer"
          (change)="onGenresChange($event, $index)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          [for]="category + $index"
        >
          <span>{{ category }}</span>
        </label>
      </li>
      }
    </ul>
  </div>

  <h2 id="accordion-flush-heading-2">
    <button
      class="flex items-center justify-between w-full gap-3 py-3 font-medium border-b text-dim border-bgHighlight"
      data-accordion-target="#accordion-flush-body-2"
      aria-expanded="false"
      aria-controls="accord ion-flush-body-2"
    >
      <span class="flex items-center gap-2"
        >Price
        <div
          class="inline-flex items-center justify-center w-5 h-5 text-xs font-bold rounded-full bg-secondary dark:border-gray-900"
          *ngIf="selectedPrice !== -1"
        >
          1
        </div></span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-2"
    class="hidden"
    aria-labelledby="accordion-flush-heading-2"
  >
    <ul class="flex flex-col gap-3">
      <li>
        <input
          type="radio"
          id="price-1"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(0)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-1"
        >
          <span>Free</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="price-2"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(5)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-2"
        >
          <span>Under $5</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="price-3"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(10)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-3"
        >
          <span>Under $10</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="price-4"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(20)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-4"
        >
          <span>Under $20</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="price-5"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(50)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-5"
        >
          <span>Under $50</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="price-6"
          name="price"
          class="hidden peer"
          (change)="onPriceChange(-1)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="price-6"
        >
          <span>Any Price</span>
        </label>
      </li>
    </ul>
  </div>
  <h2 id="accordion-flush-heading-3">
    <button
      class="flex items-center justify-between w-full gap-3 py-3 font-medium border-b border-bgHighlight text-dim"
      data-accordion-target="#accordion-flush-body-3"
      aria-expanded="false"
      aria-controls="accord ion-flush-body-3"
    >
      <span class="flex items-center gap-2"
        >Developers
        <div
          class="inline-flex items-center justify-center w-5 h-5 text-xs font-bold rounded-full bg-secondary dark:border-gray-900"
          *ngIf="selectedDeveloper !== ''"
        >
          1
        </div></span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-3"
    class="hidden"
    aria-labelledby="accordion-flush-heading-3"
  >
    <!-- DEVELOPERS -->
    <ul class="flex flex-col gap-3">
      @for (developer of developers; track $index) {
      <li>
        <input
          type="radio"
          [id]="developer + $index"
          name="developer"
          class="hidden peer"
          (change)="onDeveloperChange(developer)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          [for]="developer + $index"
        >
          <span>{{ developer }}</span>
        </label>
      </li>
      }
      <li>
        <input
          type="radio"
          id="developer-0"
          name="developer"
          class="hidden peer"
          (change)="onDeveloperChange('')"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="developer-0"
        >
          <span>Any Developer</span>
        </label>
      </li>
    </ul>
  </div>

  <h2 id="accordion-flush-heading-4">
    <button
      class="flex items-center justify-between w-full gap-3 py-3 font-medium border-b border-bgHighlight text-dim"
      data-accordion-target="#accordion-flush-body-4"
      aria-expanded="false"
      aria-controls="accord ion-flush-body-4"
    >
      <span class="flex items-center gap-2"
        >Popularity
        <div
          class="inline-flex items-center justify-center w-5 h-5 text-xs font-bold rounded-full bg-secondary dark:border-gray-900"
          *ngIf="selectedPopularity !== -1"
        >
          1
        </div></span
      >
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-4"
    class="hidden"
    aria-labelledby="accordion-flush-heading-4"
  >
    <ul>
      <!-- 1 al 5 (muy bueno, bueno, etc) -->

      <li>
        <input
          type="radio"
          id="popularity-1"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(1)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-1"
        >
          <span>Very Popular</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="popularity-2"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(2)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-2"
        >
          <span>Popular</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="popularity-3"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(3)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-3"
        >
          <span>Normal</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="popularity-4"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(4)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-4"
        >
          <span>Unpopular</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="popularity-5"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(5)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-5"
        >
          <span>Not Popular</span>
        </label>
      </li>

      <li>
        <input
          type="radio"
          id="popularity-6"
          name="popularity"
          class="hidden peer"
          (change)="onPopularityChange(-1)"
        />
        <label
          class="flex items-center gap-2 p-2 text-sm transition-colors duration-200 ease-in rounded-sm cursor-pointer peer-checked:bg-bgHover"
          for="popularity-6"
        >
          <span>Any Popularity</span>
        </label>
      </li>
    </ul>
  </div>
</div>
