<div
  class="relative flex flex-row justify-center w-full bg-gradient-to-b from-bgMain to-bgTertiary"
>
  <img
    class="absolute top-0 left-0 w-full h-[70svh] transparent-gradient opacity-10 blur-sm pointer-events-none"
    src="/home_header.webp"
    alt=""
  />
  <main class="lg:w-11/12 w-full px-[5%] mt-96 pb-48 gap-20 flex flex-col">
    <article>
      <h2 class="mb-5 ml-0 text-xl font-medium lg:-ml-10">FEATURED</h2>
      <div class="relative">
        <div
          class="absolute w-[105%] h-[105%] px-10 bg-bgMain/20 backdrop-blur-sm rounded-lg translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2"
        ></div>
        <app-main-carousel [games]="games.slice(0, 5)"></app-main-carousel>
      </div>
    </article>

    <article class="mt-10">
      <h2 class="mb-5 ml-0 text-xl font-medium lg:-ml-10">Special Offers</h2>
      <div class="relative">
        <div
          class="absolute w-[105%] h-[105%] px-10 bg-bgMain/20 backdrop-blur-sm rounded-lg translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2"
        ></div>
        <app-offers-carousel [games]="games.slice(5, 11)"></app-offers-carousel>
      </div>
    </article>

    <article class="mt-10">
      <h2 class="mb-5 ml-0 text-xl font-medium lg:-ml-10">
        Popular Categories
      </h2>
      <div class="relative">
        <div
          class="absolute w-[105%] h-[105%] px-10 bg-bgMain/20 backdrop-blur-sm rounded-lg translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2"
        ></div>
        <app-categories-carousel
          [categories]="categories"
        ></app-categories-carousel>
      </div>
    </article>
  </main>
</div>
