<div *ngIf="!isChildRouteActive()" class="relative flex flex-row justify-center w-full bg-gradient-to-b from-[#0E141B] to-[#202B3B]">
  <main class="w-11/12 px-[5%] mt-36 pb-48 flex flex-col z-10">
    <!-- Main Content -->
    <article class="flex flex-col gap-5 p-5 lg:flex-row bg-bgMain/50">
      <div class="flex flex-col w-full gap-3">
        <!-- Renderiza los juegos -->
        <app-game-large-card-cart *ngFor="let game of games" [game]="game"></app-game-large-card-cart>
      </div>
    </article>
    <button
      class="flex items-center justify-end gap-2 px-4 py-2 transition-colors duration-300 ease-in rounded-sm w-fit bg-secondary hover:bg-primary hover:text-bgMain"
      routerLink="payment"
    >
      Purchase for myself
    </button>
  </main>
</div>

<!-- Router outlet para las rutas hijas -->
<router-outlet></router-outlet>
