<article
  class="flex flex-col items-center w-full gap-3 p-4 rounded-md lg:flex-row bg-bgMain"
>
  <div class="w-8/12 overflow-hidden aspect-video">
    <img
      class="object-contain w-full h-full fade"
      [src]="mainImage"
      alt=""
      [class.fade-out]="isChangingImage"
      (load)="onImageLoad()"
    />
  </div>
  <aside
    class="flex flex-col items-center flex-grow w-full gap-3 pt-1 lg:w-4/12 lg:items-start"
  >
    <h2 class="justify-center text-2xl font-bold line-clamp-1">
      {{ game.title }}
    </h2>
    <p class="leading-tight text-justify line-clamp-3">
      {{ game.description }}
    </p>
    <div
      class="grid grid-cols-2 grid-rows-2 gap-1 w-fit"
      (mouseleave)="changeImage(game.images[0])"
    >
      <ng-container *ngFor="let image of game.images | slice : 1">
        <img
          class="object-cover w-56 h-24 transition-all duration-300 ease-in cursor-pointer brightness-50 rounded-s hover:brightness-100"
          [src]="image"
          alt=""
          (mouseenter)="changeImage(image)"
        />
      </ng-container>
    </div>
    <div
      class="flex justify-center w-full gap-2 lg:flex-wrap lg:justify-start text-dim"
    >
      @for (category of game.categories.slice(0,3); track $index) {
      <span class="px-3 py-1 text-sm pointer-events-none bg-bgHighlight">{{
        category
      }}</span>
      }
    </div>
    <footer class="flex flex-wrap items-center justify-between w-full gap-3">
      <button
        class="flex items-center justify-center gap-2 px-5 py-2 transition-colors duration-300 ease-in rounded-sm bg-bgHighlight hover:bg-bgHover"
        (click)="toggleWishlist()"
      >
        <span>Wishlist</span>
        @if (inWishlist) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="white"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
          />
        </svg>
        }
      </button>
      <div class="flex items-center gap-3">
        <span class="font-semibold text-md">{{
          game.price > 0 ? (game.price | currency : "USD") : "Free"
        }}</span>
        <a
          class="px-5 py-2 transition-colors duration-300 ease-in rounded-sm bg-secondary hover:bg-primary"
          [routerLink]="['/browse', game.id]"
        >
          Buy Now
        </a>
      </div>
    </footer>
  </aside>
</article>
